
  .contact-page {
    padding: 2rem;
    min-height: 100vh;
  }
  
  .contact-title {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: white;
  }
  
  .contact-title .highlight {
    color:  #0E62A6;
  }
  
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    font-size: 1rem;
   
  }
  
  @media (min-width: 1024px) {
    .contact-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Contact Information */
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .info-item{
    border-bottom: 2px solid rgb(117, 115, 115);
    width: 70%;
  }
  
  .info-label {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.5rem;
  }
  
  .info-link {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .info-link:hover {
    color: #0E62A6;
  }
  
  .arrow {
    transform: rotate(45deg);
    transition: transform 0.3s;
  }
  
  .info-link:hover .arrow {
    transform: translate(5px, -5px);
  }
  
  /* Contact Form */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .form-row {
    display: flex;
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }
  }
  
  .form-group {
    flex: 1;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #ffffff;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    background-color: #222;
    border: 1px solid #444;
    color: #fff;
    border-radius: 4px;
    resize: none;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #0E62A6;
  }
  
  /* Form Footer */
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .submit-button {
    padding: 0.5rem 1.3rem;
    border: 2px solid rgb(56, 54, 54);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  


  