
.footer-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: #242424;
        color: white;
    padding: 32px 0px 1px 0px;
  }
  
  .footer-header {
    padding: 32px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-heading {
    font-size: 3.67rem;
    font-weight: 500;
  }


  .footer-email {
    font-size: 3.67rem;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    position: relative; 
  }
  
  .footer-email::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 3px; 
    width: 0;
    height: 2px; 
    background-color:  #0E62A6; 
    transition: width 0.5s ease; 
  }
  
  .footer-email:hover::after {
    width: 100%; 
  }
  
  .footer-email .email-highlight {
    color: inherit; 
  }
  
  .footer-email:hover .email-highlight {
    color:  #0E62A6; 
  }
  
  
  .email-highlight {
    color: #0E62A6;
  }
  
  .footer-content {
    margin-top: auto;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 32px;
    border-top: 1px solid #27272a;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footer-year {
    color: #0E62A6;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .footer-link:hover {
    color:  #0E62A6;
  }
  
  .footer-local-time {
    color: #9ca3af;
  }
  

  
  .link-arrow {
    transform: rotate(45deg);
  }
  
.footer_img_container{
  /* background-color: rgb(28, 80, 129); */
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.footer_img{
  opacity: 50%;
  width: 30%;
  height: 5%;
}